body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a i {
    margin-right: 8px;
}

main {
    padding-top: 70px; /* Adjust padding to ensure content is not hidden behind the fixed header */
}

section {
    padding: 20px;
    margin: 20px 0;
}

#about, #skills, #projects, #contact {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2, #skills h2, #projects h2, #contact h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1em;
}

#skills ul li i {
    margin-right: 8px;
}

.project {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 15px;
    border-left: 5px solid #333;
    border-radius: 4px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#scrollToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
